/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,900&display=swap');
@import url("https://use.typekit.net/tpv2tkc.css");

body {
  @apply font-body font-light;
  font-size: 16px;
}

h1 {
  @apply font-bold text-6xl
}

h2 {
  @apply font-bold text-4xl
}

h3 {
  @apply font-bold text-3xl
}

th {
  @apply p-0
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

input {
  @apply border border-gray-500;
}

.block,
.node {
  @apply mb-4;
}

.content p,
.content ul,
.content ol {
  @apply mb-4 leading-normal;
}

table.views-table {
  @apply tw-w-full;
}

table.views-table tr td, table.views-table tr th {
  @apply tw-py-2 tw-px-4;
}

table.views-table .views-field-views-bulk-operations {
  @apply tw-pl-2 tw-pr-4;
  width: 1%;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

body {
  @apply tw-bg-cmow-indigo
}

#main,
body.overlay {
  background-color: #ffffff;
}

.ajax-progress-throbber {
  @apply tw-hidden;
}

nav#navigation ul {
  @apply tw-inline-block
}

nav#navigation #main-menu li {
  @apply tw-inline-block
}

nav#navigation ul li {
  @apply tw-px-4
}

nav#navigation ul li a {
  @apply tw-text-white tw-text-lg
}

.region-header {
  @apply tw-flex tw-justify-around
}

.region-header .active {
  @apply tw-text-orange-400
}

.region-header .block-menu-block {
  @apply tw-m-0
}

.region-header .menu-block-wrapper >  ul.menu {
  @apply tw-text-white tw-px-2 tw-font-bold
}

.region-header .menu-block-wrapper > ul.menu > li {
  @apply tw-inline-block tw-px-4
}

.region-header ul.menu li.collapsed, .region-header ul.menu li {
  @apply tw-list-none tw-m-0 tw-text-lg;
  list-style-image: none;
}

.region-header ul.menu li > ul {
  @apply tw-absolute tw-p-4 tw-bg-white tw-text-cmow-indigo
}

#mobile-menu .region-header {
  @apply tw-block
}

#mobile-menu .menu-block-wrapper ul.menu {
  @apply tw-block
}

#mobile-menu ul.menu li {
  @apply tw-block tw-text-xl
}

#mobile-menu .region-header ul.menu li > ul {
  @apply tw-bg-transparent tw-p-0 tw-pl-4 tw-text-white
}

#user-login-form ul li {
  @apply tw-p-0 tw-m-0
}
#user-login-form ul li a {
  @apply tw-text-gray-500
}

#user-login-form ul li a:hover {
  @apply tw-text-blue-500
}

.form-item input[type=text],
.form-item input[type=password],
.form-item input[type=email],
.form-item input[type=number] {
  @apply tw-bg-gray-100 tw-border tw-p-1 tw-w-full
}

.form-submit {
  @apply tw-rounded-full tw-outline-none tw-border-none tw-py-2 tw-px-6 tw-bg-cmow-indigo tw-text-white
}

.node-meal .field{
  @apply tw-mt-6
}

.node-meal .field-label, .node-meal .form-item label {
  @apply tw-font-normal tw-uppercase tw-text-sm tw-mb-1
}

.node-meal .field-type-commerce-price {
  @apply tw-text-cmow-indigo tw-text-lg tw-font-normal
}

.node-meal .commerce-add-to-cart .form-submit {
  @apply
    tw-rounded-full
    tw-py-4 tw-px-8
    tw-border-none
    tw-bg-cmow-indigo
    tw-text-white
    tw-font-semibold
    tw-uppercase
}

.node-meal .form-item-quantity input[type=text] {
  @apply tw-rounded-full tw-bg-gray-200 tw-py-4 tw-px-6 tw-border-none tw-font-normal tw-outline-none
}

.views-exposed-form .views-exposed-widget {
  @apply tw-float-none
}

.view-meal-display div.form-type-bef-checkbox {
  @apply tw-mb-4 tw-cursor-pointer
}

.view-meal-display div.form-type-bef-checkbox *{
  @apply tw-cursor-pointer;
  @apply tw-transition-opacity tw-duration-500
}

.view-meal-display div.form-type-bef-checkbox:hover * {
  @apply tw-opacity-50
}

.view-meal-display div.form-type-bef-checkbox label {
  @apply tw-text-gray-500 tw-font-normal;
}

.view-meal-display div.form-type-bef-checkbox.highlight label{
  @apply tw-text-black tw-font-bold
}
